<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-common.css"></link>
    <style type="text/css">
      .jobtable td {border: none}
    </style>
    <script type="text/javascript" src="${context}/static/js/jquery.js"></script>
    <script type="text/javascript">
      function add_row() {
        var table = $('#jobtable');
        var rowNum = table[0].tBodies[0].rows.length - 1;
        var row = $('#row0').clone();
        row[0].id = "row" + rowNum;
        var keyInput = row.find('.key-input')[0];
        keyInput.name = 'key' + rowNum;
        keyInput.value = "";
        var valInput = row.find('.val-input')[0];
        valInput.name = 'val' + rowNum;
        valInput.value = "";
        table.append(row);
      }
    
      $(document).ready(
      function() {
        document.getElementById("add_row_button").onclick=add_row;
      });
    </script>
  </head>
  <body>
    #appnamebox()
    
    <div id="main">
        <h2 class="title" >Edit Job</h2>
  	    <div id="variableWidth">
  	        #messages()
  	       <div class="box">
  	       	  <h3>Job Description</h3>
		  	  <form name="props_form" method="post" action="">
		        <div class="jobdesc">
		          <div>
		            <span class="h3like">Job Name</span> 
		            <input id="jobname" name="job_name" type="text" value="$!job.id"/><br/>
		          </div>
		          <div>
		            <span class="h3like">Path</span> <input id="editPath" name="job_path" type="text" value="$!job.path" />
		          </div>
		        </div>
		   </div>
		   <div class="box">
		   		<h3>Job Parameters</h3>
		        <table id="jobtable" class="jobtable">
		          <tr>
		            <th>Key</th>
		            <th>Value</th>
		          </tr>
		          #set($props = $job.props)
		          #set($row = 0)
		          #foreach($key in $props.localKeySet())
		            <tr id="row$row">
		              <td>
		                <input type="text" class="key-input" name="key$row" value="$key">
		              </td>
		              <td>
		                <input type="text" class="val-input" name="val$row" value="$props.getString($key)" size="50">
		              </td>
		            </tr>
		            #set($row = $row + 1)
		          #end
		          ## empty row
		          <tr id="row$row">
		            <td>
		              <input type="text" class="key-input" name="key$row" value=""/>
		            </td>
		            <td>
		              <input type="text" class="val-input" name="val$row" value="" size="50"/>
		            </td>
		          </tr>
		        </table>
		        
		        <table class="jobtable">
		          <tr>
		            <td style="text-align: right">
		              <input id="add_row_button" type="button" value="Add Row">
		              <input type="submit" value="Save">
		            </td>
		          </tr>
		        </table>
		      </form>
  	       </div>
  	    </div>
  	</div>
  </body>
</html>