<html>
<head>
    <title>#appname()</title>

    <link rel="stylesheet" type="text/css" href="${context}/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-common.css"/>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/job_controller.css"/>
</head>
<body>
    #appnamebox()


<div id="container">
#*
    #messages()

    <h2>Flows</h2>
    <div class="all-jobs">
        <div>
            <ul id="flows">
                #foreach($flow in $flows)
                    <li>$flow.name</li>
                #end
            </ul>
        </div>
    </div>
*#
    $content

</div>
</body>
</html>


