<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-common.css"></link>
    <style>
      
      .breadcrumbs {
     	text-align:center;
        font-size: 24pt;
        color: #CCC;
        font-weight: bold;
        padding: 10px;
      }
      
      .breadcrumbs a:hover {
      	color: #FFF;
      }
      
      .breadcrumbs a {
        color: #CCC;
        text-decoration: none;
      }
      .subdirs {
        padding: 20px;
        text-align: left;
        font-size: 16pt;
        color: black;
        width: 600px;
        background-color: white;
        border: 1px solid black;
        margin: auto;
      }  
      .fileTable {
        margin: auto;
      }
      .fileTable td {
        padding-left: 10px;
        padding-right: 10px;
      }
    </style>
  </head>
  <body>
    #appnamebox()
    <div id="main">
        <h2 class="title" >Hadoop File Viewer</h2>
  	    <div id="variableWidth">
  	        #messages()
  	       <div class="box">
	             <div class="breadcrumbs">
			        <a href="${context}/fs/">/</a>
			        #set($size = $paths.size() - 1)
			        #if($size >= 0)
			          #foreach($i in [0 ..$size])
			            <a href="$context/fs${paths.get($i)}">${segments.get($i)}</a> /
			          #end
			        #end
			      </div>
			      
			      <div class="subdirs">
			        <table class="fileTable">
			          <tr>
			            <th>File</th>
			            <th>Size</th>
			            <th></th>
			          </tr>
			          #foreach($status in $subdirs)
			            <tr>
			              <td>
			              <a href="$context/fs${status.getPath().toUri().getPath()}">
			                ${status.path.name}#if($status.isDir())/#end
			              </a>
			              </td>
			              <td style="text-align: center">
			                #if($status.isDir())
			                  &ndash;
			                #else
			                  $utils.displayBytes(${status.len})
			                #end
			              </td>
			              ##<td>
			              ##  <form action="${context}/fs" method="post">
			              ##    <input type="hidden" name="file" value="${status.getPath().toUri().getPath()}"/>
			              ##    <input type="submit" name="action" value="delete"/>
			              ##  </form>
			              ##</td>
			            </tr>
			          #end
			        </table>
			      </div>
  	       </div>
  	    </div>
  	</div>
  </body>
</html>