<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/static/js/jqueryui/themes/custom-theme/jquery-ui.custom.css"></link>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-common.css"></link>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="${context}/static/js/jqueryui/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-api.js"></script>
    <script type="text/javascript">
		function showAllProps()
		{
		    document.getElementById('all_props').style.display = 'block';
		    document.getElementById('all_props_link').style.display = 'none';
		}
      
		$(function () {
			#if($tab == "logs") 
				$( "#tabs" ).tabs({ selected: 1 });
			#else
				$( "#tabs" ).tabs();
			#end
		});
    </script>
    <style type="text/css">
		.mybutton span{
			font-size: 10pt;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 10px;
			padding-right: 10px;
		}
	</style>
    #########################################
    ## Google Charts runtime visualization
    #########################################
    #if($successful_executions > 1)
      <script type='text/javascript' src='http://www.google.com/jsapi'></script>
      <script type='text/javascript'>
        google.load("visualization", "1", {packages:["linechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Run Time (Minutes)');
          data.addRows($successful_executions);
          #set($exec_reversed = $utils.reversed($executions))
          #set($row = 0)
          #foreach($exec in $exec_reversed)
            #if(!$utils.isNull($exec) && $exec.succeeded)
              data.setValue($row, 0, new Date($exec.started.year, $exec.started.monthOfYear - 1, $exec.started.dayOfMonth));
              data.setValue($row, 1, $utils.durationInMinutes($exec.started, $exec.ended));
              #set($row = $row + 1)
            #end
          #end
  
          var chart = new google.visualization.LineChart(document.getElementById('runtime-chart'));
          chart.draw(data, {width: 500, height: 300, legend: 'bottom', title: 'Job Run Time', min:0});
         }
         
      </script>
    #end
    
    <script type='text/javascript'>
	     var data = ${jsonData};
         $(function () {
         	$('#editbutton').button();
         	$('#runbutton').button();
         	$('#rundepbutton').button();
         
			var params = data;
			
			var table = document.getElementById("params");
			for (var key in params) {
				var value = params[key];
				var tr = document.createElement("tr");
				var tdKey = document.createElement("td"); 
				var tdVal = document.createElement("td"); 
				$(tdKey).text(key);
				$(tdVal).text(value);
				
				tr.appendChild(tdKey);
				tr.appendChild(tdVal);
				table.appendChild(tr);
			}
		});
    
    </script>
  </head>
  <body>
    #appnamebox()
    <div id="main">
        <h2 class="title" >Job Details</h2>
  	    <div id="variableWidth">
  	    	<div id="tabs">
  	    		<ul>
					<li><a href="#tabs-1">Details</a></li>
					<li><a href="#tabs-2">Logs</a></li>
				</ul>
	  	       #messages()
	  	       <div id="tabs-1">
		  	       <div class="box">
		  	       		<h3>Details</h3>
		  	       		<div class="jobdesc">
						    <div>
					          <span class="h3like">Job Name:</span> $job.id
					        </div>
					        <div>
					          <span class="h3like">Type:</span> $job.jobType
					        </div>
					        <div>
					          <span class="h3like">Path:</span> $job.path
					        </div>
					        <div>
					          <span class="h3like">Dependencies:</span> 
					          #if($job.hasDependencies())
					            #foreach($dep in $job.dependencies)
					              <a class="job-name-white" href="${context}/job?id=${dep.id}">$dep.id</a>, 
					            #end
					          #else
					            None
					          #end
					        </div>
		  	       		</div>
		  	       </div>
	
				    <div class="box">
				        <h3>Job Properties</h3>
				    	<table id="params" class="jobtable translucent">
				        <tr>
				          <th>Key</th>
				          <th>Value</th>
				        </tr>
				      </table>
				    </div>
				
				</div>
			    
			    <div id="tabs-2">
					#if($successful_executions > 1)
	  	            <div class="box">
	  	            	<h3>Previous Runtimes</h3>
				        <div class="jobdesc" id='runtime-chart' style='width: 700px; height: 300px; margin: auto'></div>
	  	       		</div>       		
				    #end
				
				    <div class="box">
				          <h3>Job History</h3>
				            #if($executions.size() > 0)
					        <table class="jobtable translucent">
					          <tr>
					            <th>Name</th>
					            <th>Started</th>
					            <th>Ended</th>
					            <th>Elapsed</th>
					            <th>Completed Successfully?</th>
					            <th>Log</th>
					          </tr>
					          #foreach($exec in $executions)
					            <tr>
					              <td>$exec.id</td>
					              <td>
					                #if($utils.isNull($exec.started))
					                  &ndash;
					                #else
					                  $utils.formatDateTimeAndZone($exec.started)
					                #end
					              </td>
					              <td>
					                #if($utils.isNull($exec.ended))
					                  &ndash; 
					                #else
					                  $utils.formatDateTimeAndZone($exec.ended)
					                #end
					              </td>
					              <td>
					                #if($utils.isNull($exec.ended))
					                  &ndash;
					                #else
					                  $utils.formatPeriod($utils.period($exec.started, $exec.ended))
					                #end
					              </td>
					              <td>
					                #if($utils.isNull($exec.ended))
					                  &ndash;
					                #elseif($exec.succeeded)
					                  yes
					                #else
					                  no
					                #end
					              </td>
					              <td>
					                <a href="${context}/logs?file=${exec.log}">
					                 log
					                </a>
					              </td>
					            </tr>
					          #end
					        </table>
					      #else
					        No recorded executions
					      #end
				    </div>
			    </div>
			    <div id="buttonbar">
				    <div id="editbutton" class="mybutton" style="text-align: center"><a href="$context/job?id=${job.id}&amp;edit">Edit</a></div>
				    <div id="runbutton" class="mybutton" onclick="runJob('${job.id}', false, '$context')" style="text-align: center"><a href="#">Run</a></div>
				    <div id="rundepbutton" class="mybutton" onclick="runJob('${job.id}', true, '$context')" style="text-align: center"><a href="#">Run with Dependencies</a></div>
  	       		</div>
  	       </div>
  	    </div>
  	</div>
  	 <div><p class="currentTime">Current Time: $utils.formatDateTimeAndZone($utils.now)</p></div>
  	 <div id="modelDialog" style="display: none;" title="Info" />
  </body>
</html>