<html>
  <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-common.css"></link>
    <script type="text/javascript">
      function showAllProps()
      {
        document.getElementById('all_props').style.display = 'block';
        document.getElementById('all_props_link').style.display = 'none';
      }
    </script>
    
    #########################################
    ## Google Charts runtime visualization
    #########################################
    #if($successful_executions > 1)
      <script type='text/javascript' src='http://www.google.com/jsapi'></script>
      <script type='text/javascript'>
        google.load("visualization", "1", {packages:["linechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Run Time (Minutes)');
          data.addRows($successful_executions);
          #set($exec_reversed = $utils.reversed($executions))
          #set($row = 0)
          #foreach($exec in $exec_reversed)
            #if(!$utils.isNull($exec) && $exec.succeeded)
              data.setValue($row, 0, new Date($exec.started.year, $exec.started.monthOfYear - 1, $exec.started.dayOfMonth));
              data.setValue($row, 1, $utils.durationInMinutes($exec.started, $exec.ended));
              #set($row = $row + 1)
            #end
          #end
  
          var chart = new google.visualization.LineChart(document.getElementById('runtime-chart'));
          chart.draw(data, {width: 500, height: 300, legend: 'bottom', title: 'Job Run Time', min:0});
         }
      </script>
    #end
  </head>
  <body>
    #appnamebox()
    <div id="container">
    <h2>Job Details</h2>
      #messages()
      <div class="jobdesc">
        <div>
          <span>Job Name</span>: $job.id
        </div>
        <div>
          <span>Class</span>: $job.jobClass.name
        </div>
        <div>
          <span>Path</span>: $job.path
        </div>
        <div>
          <span>Dependencies</span>: 
          #if($job.hasDependencies())
            #foreach($dep in $job.dependencies)
              <a class="job-name" href="${context}/job?id=${dep.id}">$dep.id</a>, 
            #end
          #else
            None
          #end
        </div>
        <div style="text-align: center">[<a href="$context/job?id=${job.id}&amp;edit">Edit</a>]</div>
      </div>
      
      #if($successful_executions > 1)
        <div id='runtime-chart' style='width: 700px; height: 300px; margin: auto'></div>
      #end
      
      <h2>Job History</h2>
      #if($executions.size() > 0)
        <table class="jobtable">
          <tr>
            <th>Name</th>
            <th>Started</th>
            <th>Ended</th>
            <th>Elapsed</th>
            <th>Completed Successfully?</th>
            <th>Log</th>
          </tr>
          #foreach($exec in $executions)
            <tr>
              <td>$exec.jobName</td>
              <td>
                #if($utils.isNull($exec.started))
                  &ndash;
                #else
                  $utils.formatDateTime($exec.started)
                #end
              </td>
              <td>
                #if($utils.isNull($exec.ended))
                  &ndash; 
                #else
                  $utils.formatDateTime($exec.ended)
                #end
              </td>
              <td>
                #if($utils.isNull($exec.ended))
                  &ndash;
                #else
                  $utils.formatPeriod($utils.period($exec.started, $exec.ended))
                #end
              </td>
              <td>
                #if($utils.isNull($exec.ended))
                  &ndash;
                #elseif($exec.succeeded)
                  yes
                #else
                  no
                #end
              </td>
              <td>
                <a href="${context}/logs?file=${exec.log}">
                 log
                </a>
              </td>
            </tr>
          #end
        </table>
      #else
        No recorded executions
      #end
      
      <h2>Job Properties</h2>
      <table class="jobtable">
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
        #foreach($key in $job.props.localKeySet())
        <tr>
          <td>$key</td>
          <td>$job.props.get($key)</td>
        </tr>
        #end
      </table>
      
      ##<div id="all_props_link" class="all_props_link">
      ##  [<a href="#" onclick="javascript: showAllProps()">Show All Properties</a>]
      ##</div>
      
      ##<div id="all_props" class="all_props" style="display:none">
      ##  <h2>All Properties</h2>
      ##  <h4>(includes system defaults)</h4>
      ##  <table class="jobtable">
      ##    <tr>
      ##      <th>Key</th>
      ##      <th>Value</th>
      ##    </tr>
      ##    #foreach($key in $job.props.keySet())
      ##    <tr>
      ##      <td>$key</td>
      ##      <td>$job.props.get($key)</td>
      ##    </tr>
      ##    #end
      ##  </table>
      ##</div>
      
    </div>
  </body>
</html>