<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-common.css"></link>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.tools.min.js"></script>

	<script type='text/javascript'>
		function changeFile() {
			if(document.getElementById('path').value == '') {
				var dir = document.getElementById('file').value;
				var lastIndexOf = dir.lastIndexOf('.');
				var lastIndexOfForwardSlash = dir.lastIndexOf('\\');
				var lastIndexOfBackwardSlash = dir.lastIndexOf('/');
				
				var startIndex = Math.max(lastIndexOfForwardSlash, lastIndexOfBackwardSlash);
				startIndex += 1;
				
				document.getElementById('path').value=dir.substring(startIndex, lastIndexOf);
			}
		}
		
		$(function () {
			$("#path").tooltip({
				position: "center right",
				offset: [0, 10],
				effect: "fade",
				opacity: 0.9,
				predelay: 250
			});
		});
		
	</script>
	<style>

		.tooltip {
			background-color:#000;
			border:1px solid #fff;
			padding:10px 15px;
			width:250px;
			display:none;
			color:#fff;
			text-align:left;
			font-size:12px;
		
			/* outline radius for mozilla/firefox only */
			-moz-box-shadow:0 0 10px #000;
			-webkit-box-shadow:0 0 10px #000;
		}

      </style>
	
  </head>
  
  <body>
  
      #appnamebox()
      <div id="main">
		<h2 class="title" >Upload Job</h2>
		<div id="variableWidth">
		    #messages()
		   <div class="box">
		   		<h3>Zip Package Uploader</h3>
			    <div style="margin: auto; width: 500px;  ">
			      <form enctype="multipart/form-data" method="post" action="$!context/api/jobs">
			        <input type="hidden" name="redirect" value="/"/>
			        <input type="hidden" name="redirect_error" value="$!context/job-upload"/>
			        <input type="hidden" name="redirect_success" value="$!context/job-upload"/>
			        <table style="text-align:left;">
			          <tr>
			            <td class="h3like">Job Upload Path</td>
			            <td><input id="path" name="path" type="text" size="20" 
							title="The destination path that the zip file will be uncompressed to on Azkaban. If the path already exists in Azkaban, it will be overwritten."/>
			          </tr>
			          <tr>
			            <td class="h3like">Job Package Zip</td>
			            <td><input id="file" name="file" type="file" onChange="changeFile()" /></td>
			          </tr>
			          <tr>
			            <td></td><td><input type="submit" value="Deploy"/></td>
			          </tr>
			        </table>
			      </form>
		      </div>
		    </div>
		   </div>
		</div>
  	  </div>
 	  <div><p class="currentTime">Current Time: $utils.formatDateTimeAndZone($utils.now)</p></div>
  </body>
</html>