#macro(appname)
  Azkaban Job Controller
#end

#macro(appnamebox)
	<div id="header" >
		<div id="icon"></div>
		<div id="title"></div>
		
		<div id="navmenu">
			<ul>
				<li><a href="${context}/">Home</a></li>
				<li><a href="$!context/job">Create Job</a></li>
				<li><a href="$!context/job-upload">Upload Job</a></li>	
				<li><a href="$!context/history">History</a></li>
				<li><a href="$!context/fs">HDFS</a></li>
			</ul>
		</div>
		<div id="label" >
    		<p>$instancename</p>
    	</div>
	</div>
#end

## just used to suppress the display of a method called for side-effect only
#macro(nodisplay $value)
  #set($NODISPLAY_XXX = $value)
#end

#macro(messages)
  #set($errors = $session.getAttribute('errors'))
  #if($errors)
    #foreach($error in $errors)
      <div class="box message">
	      <div class="error">
	        ERROR: $error
	      </div>
	  </div>
    #end
  #end
  #set($messages = $session.getAttribute('messages'))
  #if($messages)
    #foreach($message in $messages)
          <div class="box message">
		      <div class="message">
		        $message
		      </div>
		  </div>
    #end
  #end
  $session.removeAttribute('messages')
  $session.removeAttribute('errors')
#end


