body {
	margin: 0;
	padding: 0;
	font-size: 90%;
	font-family: helvetica, arial, sans-serif;
	background-color: #28282C;
	color: #000;
	min-width: 800px;
}

body h2 {
	margin: 0;
	padding: 0;
}

#container {
	position: relative;
	top: -50px;
}

a:focus {
	outline: none;
}

.title {
	font-family: helvetica, arial, sans-serif;
	font-size: 2.2em;
	position: relative;
	color: #FFFFFF;
	text-shadow: #000000 3px 4px 2px;
	padding: 20px 10px 6px 50px;
}

#header {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 108px;
	color: #000;
	background-image: url(../bannerLength.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

#header #label {
	font-size: 1.75em;
	position: relative;
	text-align: right;
	float: right;
	left: 355px;
	top: -45px;
	color: #CCCCCC;
	text-shadow: 0.07em 0.07em #333
}
#header #label p {
	height: 35px;
	margin: 0;
}

#header #icon {
	position: relative;
	float: left;
	top: 24px;
	left: 20px;
	background-image: url(../tempIcon.png);
	height: 70px;
	width: 70px;
	background-repeat: no-repeat;
}

#header #title {
	position: relative;
	top: 25px;
	left: 90px;
	background-image: url(../titleText.png);
	height: 66px;
	width: 287px;
	background-repeat: no-repeat;
}

#main {
	background-image: url(../bannerLength.png);
	background-repeat: repeat-x;
	background-position: 0px -108px;
}

#navmenu {
	float: right;
	font-weight: bold;
	font-size: 10px;
	padding-right: 5px;
	position: relative;
}

#navmenu:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#navmenu ul {
	border: 1px solid #000000;
	background: url(../menubg.png) bottom center repeat-x;
	padding: 8px 0;
	margin: 0;
	text-align: left;
}

#navmenu ul li {
	display: inline;
}

#navmenu ul li a {
	color: #808080;
	padding: 10px;
	margin: 0;
	text-shadow: rgba(0, 0, 0, .4) 0px 3px 6px;
	text-decoration: none;
	font-size: 1.25em;
}

#navmenu ul li em {
	color: #FFFFFF;
	padding: 10px;
	margin: 0;
	text-shadow: rgba(0, 0, 0, .4) 0px 3px 6px;
	text-decoration: none;
	font-style: normal;
}

#navmenu ul li a:hover {
	color: #FFFF00;
}

.detailsPanel {
	background-color: #888;
	border-style: none;
	margin: 5px;
	height: 100%;
}

.box h3 {
	color: #FFFFFF;
	font-size: 16pt;
	text-shadow: rgba(0, 0, 0, .8) 0px 3px 6px;
}

.box .h3like {
	color: #FFFFFF;
	font-size: 14pt;
	text-shadow: rgba(0, 0, 0, .8) 0px 3px 6px;
}

.borderedPanel legend {
	color: #FFFFFF;
	font-size: 1.5em;
	text-shadow: rgba(0, 0, 0, .4) 0px 3px 6px;
}

.popupWindow {
	display: none;
	min-width: 300px;
}

.jobtable .job-name-FAILED {
	color: #B01108;
}

.jobtable .job-name-READY {
	color: #808000;
}

.jobtable .job-name-RUNNING {
	color: blue;
}

.jobtable .job-name-SUCCEEDED {
	color: #00AA00;
}

.jobtable .job-name-COMPLETED {
	color: #00AA00;
}

#variableWidth {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 12px;
	margin-left : 50px;
	margin-right : 50px;
	background-color: #777; 
	
	background-image: -webkit-gradient(linear, left top, left bottom, 
                             from(#EEEEEE), to(EEEEEE), 
                             color-stop(0.5, a1a1a1));
}

#wrapper{float:left;width:100%}
#content {
	height:561px;
	margin-left: 275px;
	background-color:rgba(0,0,0,0.0);
}

#graph{ 
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

#graph{ 
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

#graphTab{
	background: #FFFFFF;
	height: 510px;
}

#jobParamTab{
	background: #FFFFFF;
	height: 510px;
	overflow:auto;
	font-size:10pt;
}

#flowParamTab {
	background: #FFFFFF;
	height: 510px;
	overflow:auto;
}

#navigation {
	float:left;
	width:270px;
	margin-left:-100%;
	/*background: #FFFFFF;*/
	height:561px;
}

#treeWrap {
	background-image: url("../js/jquery/themes/apple/bg.jpg");
	overflow:auto;
	height:530px;
}

#fileRibbon {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #777;
}

#copyButton {
	font-size:8pt;
	margin: 2px;
	padding-left: 1px;
}

#referenceButton {
	font-size:8pt;
	margin: 2px;
	padding-left: 1px;
}

#deleteButton {
	font-size:8pt;
	margin: 2px;
	padding-left: 1px;
}

#buttonpanel {
	font-size:8pt;
	margin: 2px;
	padding-left: 1px;
	float: right;
}

#extra{
	clear:left;
	height: 30px;
	width:100%;
	margin-top: 50px;
	background:#777;
}
#extra2{
	clear:left;
	height: 30px;
	width:100%;
}

.jstree li.jstree-leaf[rel="job"] > a > ins.jstree-icon{  
	background-image: url("../js/jquery/icons/job.png");
	background-position:0px 0px;
}

.jstree li[rel="folder"] > a > ins.jstree-icon{  
	background-image: url("../js/jquery/icons/folder.png");
	background-position:0px 0px;
}

.jstree li.jstree-leaf[rel="flow"] > a > ins.jstree-icon{  
	background-image: url("../js/jquery/icons/flow.png");
	background-position:0px 0px;
}

.jstree li.jstree-leaf[rel="property"] > a > ins.jstree-icon{  
	background-image: url("../js/jquery/icons/file.png");
	background-position:0px 0px;
}

.properties {
	color: #000000;
}

.paramHeader {
	font-size:12pt;
	height: 25px;
	padding: 5px;
	margin: 0px;
}

table .col1 {
	width: 25%;
}

.col2 {
}

.editOverlay {
	float:right;
	background-color:rgba(0,0,0,0.0);
	position: relative;
	bottom: 0px;
}

.editButton.ui-button {
	float: right;
	font-size:8pt;
	padding: 0px;
	margin-left: 2px;
}

.leftButton.ui-button {
	float: left;
	font-size:8pt;
	padding: 0px;
	margin-left: 2px;
}

.slider {
	margin: 0px;
	padding-bottom: 30px;
}

table.tablesorter tbody td.col1 {
	color: #000000;
	font-weight: bold;
}

table .col1 .paramInput {
	font-size:8pt;
	margin: 0px;
	width: 98%;
	padding: 0px;
}

table .col2 .paramInput {
	font-size:8pt;
	margin: 0px;
	width: 98%;
	padding: 0px;
}

ui-dialog-buttonpane ui-widget-content {
	background-color:rgba(0,0,0,0.0);
}

.refHeader {
	color: #000000;
	font-size:8pt;
	padding-top: 20px;
	padding-left: 10px;
}

.refTable {
	color: #000000;
}

.strike {
	text-decoration: line-through;
	opacity: 0.5;
}

table.tablesorter tbody td.error {
	color: #FF0000;
}

.box {
	min-height: 125px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
	color: #DDD;
	background-image: url("../bggradient.png");
	background-color: #000;
	background-repeat:repeat-x;
}


.errorBox {
	background-color: #ffaa66;
	padding: 5px;
}

.jobtable {
	color: #FFFFFF;
	font-size: 11pt;
	text-shadow: rgba(0, 0, 0, .3) 0px 3px 6px;
}

.translucent {
	background-color: rgba(255, 255, 255, .30);
}

.jobfolder p{
	padding: 7px 10px 7px 10px;
	margin: 2px;
}

.jobfolder {
	color: #FFFFFF;
	font-size: 11pt;
	text-shadow: rgba(0, 0, 0, .3) 0px 3px 6px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	background: #A0A5AF; /* old browsers */
	background: -moz-linear-gradient(top, #A0A5AF 0%, #828c95 36%, #28343b 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A0A5AF), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0A5AF', endColorstr='#28343b',GradientType=0 ); /* ie */
}