#sched-tree-control {
	background-color: pink;
	text-align: left;
	padding-top: 1em;
}

#sched-tree-control a {
	color: darkred;
}

#sched-tree {
	background-color: transparent;
	padding: .5em;
}

.historytree {
	}

.treeview ul {
	background-color: transparent;
	padding: 1 0 3 16px;
}

.treeview .hitarea {
	background-color: transparent;
	xpadding-right: 3px;
}

.sched-tree-checkbox {
	padding: 0px;
	margin: 0px;
	margin-left: 3px;
}