
#header-box {
	margin: 10px;
}

#title-box {
	margin: 2px;
}

#title-box a,#title-box a:hover,#title-box a:visited {
	font-size: 30pt;
	text-decoration: none;
	color: darkred;
	font-weight: bold;
}

.error,.message {
	padding: 5px;
	margin: 10px;
	font-size: 14pt;
}

.error {
	color: darkred;
	border: 3px solid darkred;
}

.message {
	color: black;
	border: 3px solid black;
}

.execing-jobs-table {
	width: 90%;
}

#container {
	border: 5px solid black;
	background-color: white;
	padding: 10px;
	width: 900px;
	min-height: 500px;
	margin: auto;
	text-align: center;
}



.all-jobs {
	background-color: #FFF;
	border: 1px solid black;
	text-align: left;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.all-jobs li {
	xlist-style-type: none;
	xpadding: 1px;
	xmargin: 1px;
}

.execing-jobs {
	padding: 3px;
	margin: 0px;
}

.execing-jobs li {
	list-style-type: none;
	padding: 1px;
	margin: 1px;
}

a {
	color: #1199ff;
}

a:visited {
	color: #1199ff;
}

a:hover {
	color: yellow;
}

.job-name {
	font-size: 110%;
	text-decoration: none;
	color: darkred;
	vertical-align: top;
	padding-left: 3px;
}

.job-name:visited {
	color: darkred;
}

.job-name-white:hover {
	color: yellow;
}

.job-name-white {
	font-size: 110%;
	text-decoration: none;
	color: white;
	vertical-align: top;
	padding-left: 3px;
}

.sched-form {
	background-color: lightgrey;
	color: #222;
	padding: 0.5em;
	border: 1px solid black;
}

.jobdesc {
	font-size: 13pt;
	text-align: center;
	width: 400px;
	padding: 10px;
	margin: auto;
}

.jobdesc div {
	padding: 3px;
}

.jobdesc span {
	font-size: 15pt;
	font-weight: bold;
}

.all_props {
	margin-top: 50px;
}

.all_props_link {
	padding: 20px;
}

.all_props_link a {
	color: darkred;
	text-decoration: none;
}

.key-input,.val-input {
	border: 1px solid grey;
	padding: 2px;
}

.
